body {
    margin: 0;
    box-sizing: border-box;
    background-color:#fbfefb ;
    color: 39393a;
}

header{
    width: 100vw;
    height: 100px;
}

ul{
    display: flex;
    padding: 20px 0 20px 0;
    width: 50%;
    margin: 0 auto;
    justify-content: space-around;
    list-style: none;
}
ul li{
    cursor: pointer;
    font-size: 24px;
}

.inicio{
    text-align: center;
}

.inicio p{
    font-size: 26px;
    margin: 0;
}

.inicio b{
    color: #e899dc;
}

.inicio h3{
    background-color: #ccc;
    text-shadow: 1px 1px 7.5px rgba(255,255,255,0.9);
    font-size: 132px;
    background-clip: text;
    color: transparent;
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.inicio_triangulo_img{
    width: 40vw;
    margin: 0 auto;
    position: relative;
}

.inicio__triangulo{
    width: 100%;
    margin: 0;
    filter: drop-shadow(10px 10px 20px #232323a6);
}

.inicio__braian{
    width: 50%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    mask-image: linear-gradient(
        #e899dc 80%,
        transparent
    );
    border-radius: 16px;
}

.inicio__segundo__triangulo{
    width: 60%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: -1;
    filter: drop-shadow(10px 10px 20px #232323a6);
}

.inicio__triangulo__chico{
    width: 10%;
}