body {
    margin: 0;
    box-sizing: border-box;
    background-color:#EDF0F7 ;
    color: 39393a;
    width: 100vw;
    overflow-x: hidden;
    color: #232323;
}

h1{
    color: #9050dd;
    padding: 20px;
    text-align: center;
    font-size: 6rem;
    margin: 0;
}

/* Navegacion */

header{
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    animation: enganchar_nav linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}

ul{
    display: flex;
    padding: 20px 0 20px 0;
    width: 50%;
    margin: 0 auto;
    justify-content: space-around;
    list-style: none;
}

ul li{
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

/* Inicio */

.inicio{
    text-align: center;
    width: 100vw;
    height: 75vh;
    position: relative;
}

.inicio p{
    font-size: 26px;
    margin: 0;
    padding-top: 100px;
}

.inicio strong{
    color: #9050dd;
}

.inicio h3{
    padding-top: 50px;
    background-color: #b9b9b9c0;
    text-shadow: 1px 1px 7.5px rgba(241, 241, 241, 0.9);
    font-size: 132px;
    background-clip: text;
    color: transparent;
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.inicio__braian{
    position: absolute;
    right: 10%;
    bottom: -40px;
    height: 400px;
    filter: drop-shadow(0 20px 15px #23232380);
    z-index: 1;
}

.inicio__contacto__container{
    display: flex;
    flex-direction: column;
    width: 30px;
    position: absolute;
    bottom: 35%;
    right: 10%;
    gap: 15px;

}

.inicio__contacto__container img{
    cursor: pointer;
    z-index: 2;
}

.inicio__contacto__container img:hover{
    scale: 2;
}


.inicio__contacto__linea{
    width: 2px;
    height: 100px;
    background-color: #9050dd;
    align-self: center;
}



/* Proyectos */

.proyectos{
    max-width: 1200px;
    height: 1000px;
    margin: 0 auto;
    background: white;
    border-radius: 16px;
    position: relative;
}

.proyectos__titulo{
    position: absolute;
    top: 0px;
    left: 30px;
    background: #EDF0F7;
    border-radius: 0 0 32px 32px;
}

.proyectos__titulo::before{
    content: "";
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    right: -20px;
    top: 0;
    border-radius: 32px 0 0;
    box-shadow: -8px -8px 0px 8px #EDF0F7;
}

.proyectos__titulo::after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    left: -20px;
    top: 0;
    border-radius: 0 32px 0 0;
    box-shadow: 8px -8px 0px 8px #EDF0F7;
}


.proyectos__container{
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 380px;
    gap: 50px;

}

.proyectos__card{
    position: relative;
    width: 800px;
    margin: 0 auto;
    height: 400px;
    background-color: rgb(189, 189, 189);
    box-shadow: 0 20px 24px #2323237a;
    border-radius: 16px;
    backdrop-filter: blur(16px);
    overflow: hidden;
    margin-top: 200px;
}

.card__fecha{
    margin: 0;
    color: #808080;
}

.proyectos__lucas{
    margin: 0 auto;
    border-radius: 12px;
    height: 100%;
}

.proyectos__contenido{
    height: 200px;
    position: absolute;
    background-color: #f5f4f4;
    bottom: 0;
    border-top-left-radius: 60px;
    padding: 0 30px 60px 30px;
    transform: translateY(100px);
    transition-duration: .3s;
    opacity: .8;
}

.proyectos__contenido:hover{
    transform: translateY(0);
}

.proyectos__curva{
    width: 80px;
    height: 80px;
    right: 0;
    top: -80px;
    position: absolute;
}

/* Conocimientos */

.conocimientos__container{
    max-width: 800px;
    padding: 50px;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    gap: 5rem;
    
}

.conocimientos__fondo{
    position: relative;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 10px;
}

.conocimientos__grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    gap: 20px;
    justify-items: center;
    margin: 0 auto;
    padding: 50px 0 50px;
    position: relative;
    background-color: #ffffff;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.conocimientos__skill{
    display: flex;
    width: 50px;
    height: 50px;
    flex-direction: column;
    align-items: center;
}

.conocimientos__skill h3{
    margin: 0;
}

.conocimientos__skill img{
    width: 60px;
}

/* Sobre mi */

.sobremi {
    max-width: 1000px;
    height: 900px;
    margin: 0 auto;
}

.sobremi__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 100px);
    gap: 20px;
}

/* Fondo gris con glassmorphism para los contenedores principales */
.sobremi__grid > div {
    position: relative;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 10px;
}

/* Fondo blanco y círculo animado para el contenido interno */
.inner-card {
    position: relative;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 10px;
}

.circle {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 50px;
    height: 50px;
    background-color: #9050dd; /* Cambia el color según prefieras */
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.inner-card:hover .circle {
    width: 500px;
    height: 500px;
    top: -150px;
    left: -150px;
    background-color: #9050dd; /* Cambia el color si prefieres */
    transform: rotate(45deg);
}

/* Especificaciones para cada elemento individual */
.sobremi__grid .sobremi__foto {
    grid-row: span 2 / span 2;
    width: 200px;
    margin: 0 auto;
}

.sobremi__foto img{
    
    width:  100%;
}

.sobremi__softskill {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 3;
}


.sobremi__softskill ul{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    list-style: circle;
}

.sobremi__softskill li{
    font-weight: normal;
    cursor: default;
}

.sobremi__parrafo {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
}

.sobremi__servicio1 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
}

.sobremi__servicio2 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
}

.sobremi__servicio3 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
}

.sobremi__servicio4 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 4;
}
        

/* Contacto */

footer{
    width: 100%;
    height: 600px;
    background-color: #7803FB;
}

.contacto{
    display: flex;
    gap: 100px;
}

.contacto__info{
    font-size: 32px;
    width: 50%;
    margin: 20px;
}
.conocimientos__form{
    width: 50%;
    margin: 20px;
}

/* Animaciones y decoracion */

.ola__blur{
    position: absolute;
    width: 80%;
    top: 0;
    right: 0;
    rotate: 180deg;
    z-index: -1;
    opacity: .2;
}

.triangulo__moviendo{
    position: absolute;
    width:  600px;
    z-index: -10;
    top: 30%;
    left: 10%;
    filter: blur(70px);
    animation: rotar 60s both infinite, mover 60s linear infinite;
    opacity: .2;

}

.ir__arriba{
    background-color: #f5f4f4;
    box-shadow: 0 0 40px #23232373;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    border-radius: 100vmax;
    animation: ocultar linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
    z-index: 10;
}

.triangulo__arriba{
    width: 70%;
    animation: atencion 30s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    margin: 0 auto;
    rotate: 180deg;
}

/* Animaciones */

@keyframes ocultar{
    from{
        transform: translateY(100px);
    }

    to{
        transform: translateY(0);
    }
}

@keyframes enganchar_nav{
    to{
        background:  #EDF0F7;
        backdrop-filter: blur(5px);
        scale: 1.1;
        
    }
}

@keyframes mostrar{

    0%{
        transform: translateY(100px);
    }

    100%{
        transform: translateY(0);
    }

}

@keyframes atencion{
    0%,
    100% {

        transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {

        transform: translateY(-1.5px);
    }
    20%,
    40%,
    60% {
    
        transform: translateY(1.5px);
    }
    80% {
    
        transform: translateY(.4px);
    }
    90% {
    
        transform: translateY(-.4px);
    }
}

@keyframes rotar{
    0%{
        transform: scale(1) rotateZ(0);
    }

    50%{
        transform: scale(2) rotateZ(180deg);
    }

    100%{
        transform: scale(1) rotateZ(360deg);
    }
}

@keyframes mover {
    0% {
        top: 30%;
        left: 20%;
    }
    25% {
        top: 15%;
        left: 80%;
    }
    50% {
        top: 70%;
        left: 60%;
    }
    75% {
        top: 50%;
        left: 10%;
    }
    100% {
        top: 30%;
        left: 20%;
    }
}

